@font-face {
    font-family: heading-font;
    src: url(../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf)
}
@font-face {
    font-family: paragraph-font;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: sub-paragraph-font;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
/* Common Css */
:root {
    --primary-color: #B68C5A;
    --white: #fff;
    --dark-1: #111111;
    --dark-2: #414040;
    --dark-3: #707070;
    --dark-4: #A0A0A0;
    --dark-5: #CFCFCF;
    --dark-6: #E7E7E7;
    --dark-7: #F3F3F3;
    --heading-font: heading-font;
    --paragraph-font: paragraph-font;
    --sub-paragraph-font: sub-paragraph-font;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
input:focus {
    outline: none;
}
/* Shared Css */
.section-heading {
    font-weight: 800px;
    font-size: 2.5rem;
    color: var(--dark-2);
    margin-bottom: 24px;
}
.paragraph {
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
}
.section-margin-top {
    margin-top: 120px;
}
/* Header Css */
header {
    margin-top: 50px;
    .header-section {
        .menu-list ul {
            li {
                margin: 0 15px;
                a {
                    font-family: var(--paragraph-font);
                    color: var(--dark-3);
                    font-size: 16px;
                }
                i {
                    margin-left: 4px;
                    color: var(--dark-3);
                    font-size: 16px;
                }
            }
        }
        .header-btn {
            button {
                width: 220px;
                height: 64px;
                font-family: var(--sub-paragraph-font);
                background-color: var(--primary-color);
                font-size: 16px;
                font-weight: 600;
                color: var(--white);
                border-radius: 8px;
            }
        }
    }
}
/* Banner CSS */
.banner-section {
    margin-top: 50px;
    padding: 104px 0;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    text-align: center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
      }
      .banner-content {
          position: relative;
          z-index: 2;
          h1 {
            font-family: var(--heading-font);
            font-weight: 800;
            font-size: 72px;
            line-height: 85px;
            margin-bottom: 24px;
            max-width: 668px;
            }
            p {
                max-width: 679px;
                color: var(--dark-6);
                margin-bottom: 32px;
              }
              .search-box {
                  input {
                      width: 500px;
                      height: 64px;
                      padding: 19px 20px;
                      border-radius: 8px;
                      border: none;
                      color: var(--dark-4);
                    }
                    button {
                        width: 150px;
                        height: 64px;
                        margin-left: 24px;
                        border: none;
                        background-color: var(--primary-color);
                        color: white;
                        border-radius: 8px;
                        cursor: pointer;
                        font-family: var(--sub-paragraph-font);
                        font-weight: 600;
                        font-size: 20px;
                      }
                }
        }
}